body {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
}

header {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #1C5380;
    background-color: #4C82AC;
    color: #FFF;
    font-weight: bold;
    height: 3em;
    line-height: 3em;
    text-align: right;
    z-index: 1000;
}

header ul {
    display: inline;
    list-style: none;
    margin: 0em 1em;
}

header ul li {
    display: inline-block;
    border-left: 1px solid #1C5380;
}
header ul li a, header ul li span {
    padding: 0em 1.5em;
}

header ul li a {
    display: block;
    color: #FFF;
    text-decoration: none;
}
header ul li a:hover {
    background-color: #1C5380;
}

#main {
    position: relative;
    top: 3em;
}

#user_menu {
    display: none;
}

.username {
    font-weight: bold;
    color: #06365F;
}

.caption {
    color: #222;
}

div.image_frame {
    width: 320px;
    margin: 4px;
    float: left;
    border: solid 1px #CCC;
}

div.image_frame img {
    margin: 7px;
}

div.image_frame p.user {
    margin: 0px;
    padding: 0.25em 0em 0em 0.5em;
}

div.image_frame p.created {
    margin: -1em 0px 0px 0px;
    padding: 0px 0.5em;
    text-align: right;
    font-size: 12px;
}

div.image_frame p.caption {
    margin: 0px;
    padding: 0.25em 1em 1em 1.5em;
}

div.image_frame div.comments {
    padding: 0.25em 1.5em 1em 2em;
}

div.image_frame div.comments .comment:before {
    content:"↪ ";
}

div.image_frame div.likes {
    padding: 0em 1.5em 1em 1.5em;
}

.like {
    color: #999;
    text-shadow: 1px 1px 3px #999;
}

#thumbnails {
    margin-left: auto;
    margin-right: auto;
}

